<% @party.orders.each do |order| %>

<h1 class="ordername"><%= order.food.name %>  $<%= order.food.price %></h1>
<form action="/parties/<%=@party.id%>/orders" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" name="order_id" value="Remove Item">
</form>

<!-- <form action="/parties/<%=@party.id%>/orders" method="patch">
	<input type="hidden" name="_method" value="patch">
	<input type="submit" name="order_id" value="Change to no cost">
</form> -->

<%end%>

<a href="/parties/<%=@party.id%>/orders/receipt">Print Bill</a>


